@media (max-width: 576px) {


    .main-section {
        width: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: var(--primary-color);
        color: var(--text-color);
    }

    .sectionone {
        background-image: url(/freelancer_inicio/img/esteticafoto.jpg);
        display: flex;
        align-items: center;
    }
 
    .sectionone img {
        display: none;
    }
}

